* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.center {
    margin-left: calc(50% - 624px);
    margin-right: calc(50% - 624px);
    max-width: 1250px;
}

/* Header */
.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    font-size: 24px;
    color: #EAB308;
    font-weight: bold;
}

.logo-text {
    color: #2581EB;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.chevron {
    width: 10px;
    height: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(-45deg);
    cursor: pointer;
    margin-right: 5px;
}

.nav-links a {
    text-decoration: none;
    color: #1F2937;
    font-weight: 500;
    outline: none;
    font-family: Inter;
}

.nav-links a:focus {
    border-bottom: 2px solid #2581EB;
    padding-bottom: 8px;
    color: #2581EB;
}

.nav-links a:hover {
    color: #2581EB;
}

.cart {
    display: flex;
    align-items: center;
}

.cart img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.callback {
    background-color: #EAB308;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    width: 100%;
    position: relative;
    text-align: center;
}

.duck-container {
    position: relative;
    height: 620px;
}

.duck-image {
    width: 620px;
    height: 620px;
    position: absolute;
    top: 3%;
    left: 25%;
}

.hero-leftText {
    position: absolute;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 152px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #1E1E1E;
    top: 50px;
    left: 5px;
}

.hero-rightText {
    position: absolute;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 152px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: right;
    text-transform: uppercase;
    color: #1E1E1E;
    top: 150px;
    right: 10px;
}

.yellow-circle {
    position: absolute;
    background-color: #FFC107;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000;
    font-size: 24px;
    top: 246px;
    left: 22%;
}

.yellow-circle::after {
    content: '';
    position: absolute;
    top: 18%;
    left: 90%;
    transform: rotate(-25deg);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #FFC107;
}

.hero p {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}

.slogan-box {
    display: flex;
    position: absolute;
    width: 315px;
    left: 67%;
    top: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.slogan-box-text {
    font-family: 'inter', sans-serif;
    text-align: start;
}

.view-ducks {
    font-family: 'inter', sans-serif;
    background-color: #2581EB;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 8px;
}

/* Categories Navigation */
.categories {
    width: 100%;
    margin-top: 20px;
}

.categories ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.categories li {
    display: flex;
    margin: 0 20px;
    gap: 10px;
}

.categories a {
    text-decoration: none;
    color: #000;
    font-family: 'inter', sans-serif;
    outline: none;
}

.categories a:hover {
    text-decoration: none;
    color: #2581EB;
}

.categories a:focus {
    padding-bottom: 8px;
    border-bottom: 2px solid #2581EB;
    color: #2581EB;
}

/* Модальное окно и форма обратной связи */
.modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
    z-index: 1000;
    /* Перекрывает все элементы */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #FFF;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 40px;
    width: 417px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #B9B9B9;

    cursor: pointer;
}

.callback-form label {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.callback-form .required {
    color: red;
}

.callback-form input {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #333;
}

.callback-form input::placeholder {
    color: #999;
}

.callback-form button {
    width: 100%;
    padding: 10px 20px;
    background-color: #EAB308;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.callback-form p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: black;
    text-align: center;
    margin-top: 10px;
    text-align: left;
}

.callback-form p a {
    color: #2581EB;
    text-decoration: none;
}

.callback-form p a:hover {
    text-decoration: underline;
}

/* Адаптив */
@media (max-width: 1248px) {
    .center {
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background: #FFF;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .cart {
        margin-left: auto;
    }

    .hero {
        padding: 100px 0 30px;
    }

    .duck-container {
        height: 300px;
    }

    .duck-image {
        width: 300px;
        height: 300px;
        left: 50%;
        transform: translateX(-50%) rotate(-180deg);
        top: -30%;
    }

    .hero-leftText {
        font-size: 80px;
        top: 20px;
        left: 20px;
    }

    .hero-rightText {
        font-size: 60px;
        top: 100px;
        right: 20px;
    }

    .yellow-circle {
        width: 60px;
        height: 60px;
        font-size: 16px;
        top: 20px;
        left: 70%;
    }

    .hero p {
        font-size: 14px;
    }

    .view-ducks {
        padding: 8px 16px;
    }

    .categories ul {
        flex-wrap: wrap;
    }

    .categories li {
        margin: 10px 15px;
    }
}